@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Orbitron";
  src: url("../../public/fonts/orbitron.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}
